In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [7]:
df = pd.read_excel('data.xlsx')
df['year'] = df['by_year_data_lectura'].apply(lambda x: x.split(' ')[0])
df['year'] = df['year'].astype(int)

In [8]:
df.columns

Index(['avg_valor_lectura', 'by_year_data_lectura', 'year'], dtype='object')

In [9]:
df[['year', 'avg_valor_lectura']].corr(method = 'pearson')

                       year  avg_valor_lectura
year               1.000000           0.801739
avg_valor_lectura  0.801739           1.000000

In [7]:
df_sorted = df.sort_values(by = 'year')
df_sorted.head()

    avg_valor_lectura     by_year_data_lectura  year
9           17.399325  2009 Jan 01 12:00:00 AM  2009
6           15.939492  2010 Jan 01 12:00:00 AM  2010
10          16.823527  2011 Jan 01 12:00:00 AM  2011
16          16.478937  2012 Jan 01 12:00:00 AM  2012
15          16.182015  2013 Jan 01 12:00:00 AM  2013

In [10]:
from sklearn.metrics import r2_score
# Prepare data
x = df_sorted['year'].values.reshape(-1, 1)  # make it 2D
y = df_sorted['avg_valor_lectura'].values

# Fit model
model = LinearRegression()
model.fit(x, y)
y_pred = model.predict(x)

# Compute metrics
rmse = np.sqrt(mean_squared_error(y, y_pred))
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print(f'RMSE: {rmse:.5f}')
print(f'MAE: {mae:.5f}')
print(f'R2: {r2:.5f}')

RMSE: 0.47870
MAE: 0.37898
R2: 0.64279